In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [29]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [30]:
driver.get("https://www.naukri.com/")

In [31]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [32]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Banglore")

In [33]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit" )
search.click()

In [34]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [35]:
title_tags=driver.find_elements(By.XPATH,'//a [@class="title ellipsis" ]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [36]:
location_tags=driver.find_elements(By.XPATH,'//span [@  class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [37]:
company_tags=driver.find_elements(By.XPATH,'//a [@ class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [38]:
experience_tags=driver.find_elements(By.XPATH,'//span [ @class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [39]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience_Required':experience_required})
df

,Title,Location,Company_Name,Experience_Required
0,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
1,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
2,Data Analyst,"Hybrid - Hyderabad/Secunderabad, Pune, Bangalo...",EY,5-10 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Course5 Intelligence,1-2 Yrs
8,Data Analyst,Bangalore/Bengaluru,FresherMart,2-3 Yrs
9,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs

In [66]:
#Assignment_question 2

In [41]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [42]:
driver.get("https://www.naukri.com/")

In [43]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [44]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Banglore")

In [45]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [46]:
job_title=[]
job_location=[]
company_name=[]

In [47]:
title=driver.find_elements(By.XPATH,'//a[@ class="title ellipsis" ]')
for i in title[0:10]:
    Title=i.text
    job_title.append(Title)

In [48]:
location=driver.find_elements(By.XPATH,'//span[@ class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    loc=i.text
    job_location.append(loc)

In [49]:
company=driver.find_elements(By.XPATH,'//a [@class="subTitle ellipsis fleft" ]')
for i in location[0:10]:
    com=i.text
    company_name.append(com)

In [50]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [51]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
2,Data Scientist,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","Hybrid - Kolkata, Hyderabad/Secunderabad, Pune..."
3,Sr. Data scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...","Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
4,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...","Noida, Kolkata, Mumbai, Hyderabad/Secunderabad..."
5,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...","Noida, Hyderabad/Secunderabad, Pune, Chennai, ..."
6,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...","Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo..."
7,Expert Data Scientist,"Mumbai, Bangalore/Bengaluru","Mumbai, Bangalore/Bengaluru"
8,Data Scientist Architect,"Temp. WFH - Hyderabad/Secunderabad, Bangalore/...","Temp. WFH - Hyderabad/Secunderabad, Bangalore/..."
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Bangalore/Bengaluru

In [2]:
#assignment question 3

In [52]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [53]:
driver.get("https://www.naukri.com/data-scientist-jobs?k=data%20scientist")

In [54]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[2]/div[2]/div[2]/label/i')

location.click()

In [55]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [56]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [57]:
jobtitle=driver.find_elements(By.XPATH,'//a [@class="title ellipsis"]')
for i in jobtitle:
    job_title.append(i.text)
len(job_title)

8

In [58]:
joblocation=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in joblocation:
    job_location.append(i.text)

In [59]:
companyname=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companyname:
    company_name.append(i.text)
len(company_name)

8

In [68]:
experiencerequired=driver.find_elements(By.XPATH,'//span[ @class="ellipsis fleft expwdth"]')
for i in experiencerequired:
    experience.append(i.text)
len(experience)

8

In [70]:
print(len(job_title),len(job_location),len(company_name),len(experience))

8 8 8 8

In [71]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience':experience})
df

,Job_Title,Job_Location,Company_Name,Experience
0,Job Opening For Data Scientist @ GD-Hyd,Hybrid - Hyderabad/Secunderabad(Kondapur),Globaldata,3-6 Yrs
1,Analytical Modeler,Hybrid - Chennai(Sholinganallur),Allegis Group,4-8 Yrs
2,Data Scientist,Hybrid - Bangalore/Bengaluru,Gcc Services,3-8 Yrs
3,Urgent Hiring For Data Scientists,Hybrid - Pune,Peoplefy Infosolutions,2-6 Yrs
4,Data Scientist,"Hybrid - Noida, New Delhi, Gurgaon/Gurugram, D...",Nits Solutions,3-7 Yrs
5,Urgent Hiring For Data Scientists,Hybrid - Pune,Peoplefy Infosolutions,2-6 Yrs
6,Data Scientist,Hybrid - Pune,Peoplefy Infosolutions,2-5 Yrs
7,Urgently Required AIML Engineer (Machine/Deep ...,Hybrid - Chennai,Aspire Systems,4-9 Yrs

In [72]:
#Assignment question 4

In [33]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [34]:
driver.get("https://www.flipkart.com/")

In [35]:
products=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
products.send_keys("sunglasses")

In [36]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [100]:
Brand=[]
ProductDiscription=[]
Price=[]

In [101]:
brand_tags=driver.find_elements(By.XPATH,'//div[@ class="_2WkVRV"]')
for i in brand_tags[0:41]:
    brand=i.text
    Brand.append(brand.split("\n")[0])
print(Brand)
len(Brand)

['Silver Kartz', 'AISLIN', 'SRPM', 'Fastrack', 'Elligator', 'PIRASO', 'Fastrack', 'Rich Club', 'Elligator', 'Elligator', 'Elligator', 'Sewell', 'PIRASO', 'Elligator', 'Fastrack', 'Silver Kartz', 'PIRASO', 'Elligator', 'PIRASO', 'Eyewearlabs', 'SRPM', 'Elligator', 'New Specs', 'ROYAL SON', 'NuVew', 'NuVew', 'SHAAH COLLECTIONS', 'ROZZETTA CRAFT', 'PIRASO', 'Anemone', 'Fastrack', 'ROYAL SON', 'PHENOMENAL', 'SUNBEE', 'Fastrack', 'Silver Kartz', 'Fastrack', 'Fastrack', 'kingsunglasses', 'ROZZETTA CRAFT']

40

In [102]:
product_discription=driver.find_elements(By.XPATH,'//a [ @class="IRpwTa"]')
for i in product_discription[0:41]:
    ProductDiscription.append(i.text)

In [89]:
len(ProductDiscription)
print(ProductDiscription)

['Toughened Glass Lens, UV Protection Aviator Sunglasses ...', 'UV Protection Wayfarer Sunglasses (50)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (50)', 'UV Protection Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection Aviator, Wayfarer Sunglasses (54)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (56)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Round Sunglasses (53)', 'UV Protection Clubmaster Sunglasses (54)', 'Polarized, UV Protection Round Sunglasses (51)', 'Others Wayfarer, Retro Square Sunglasses (50)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized Aviator Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (57)', 'UV Protection Sports Sunglasses (65)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'Polarized, UV Protection Aviator Sunglasses (55)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection, Gradient Rectangular, Spectacle Sunglas...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized Aviator Sunglasses (56)', 'UV Protection Retro Square Sunglasses (53)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (56)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wrap-around Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Polarized, UV Protection Rectangular Sunglasses (Free S...']

In [103]:
price_tags=driver.find_elements(By.XPATH,'//div [@class="_30jeq3"]')
for i in price_tags[0:41]:
    price=i.text
    Price.append(price)

In [105]:
print(len(Brand),len(ProductDiscription),len(Price))

40 40 40

In [106]:
df=pd.DataFrame({'Brand':Brand,'ProductDiscription':ProductDiscription,'Price':Price})
df

,Brand,ProductDiscription,Price
0,Silver Kartz,"UV Protection Wayfarer, Aviator Sunglasses (88)",₹284
1,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",₹845
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629
4,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149
5,PIRASO,UV Protection Aviator Sunglasses (58),₹274
6,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹559
7,Rich Club,UV Protection Retro Square Sunglasses (50),₹599
8,Elligator,UV Protection Round Sunglasses (53),₹149
9,Elligator,UV Protection Wayfarer Sunglasses (53),₹149
10,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)",₹149
11,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹281
12,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268
13,Elligator,UV Protection Round Sunglasses (54),₹293
14,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹629
15,Silver Kartz,UV Protection Oval Sunglasses (56),₹299
16,PIRASO,UV Protection Aviator Sunglasses (54),₹208
17,Elligator,UV Protection Round Sunglasses (53),₹149
18,PIRASO,UV Protection Clubmaster Sunglasses (54),₹224
19,Eyewearlabs,"Polarized, UV Protection Round Sunglasses (51)","₹1,614"
20,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹218
21,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹216
22,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259
23,ROYAL SON,Polarized Aviator Sunglasses (55),₹899
24,NuVew,UV Protection Wayfarer Sunglasses (57),₹99
25,NuVew,UV Protection Sports Sunglasses (65),₹129
26,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹185
27,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹499
28,PIRASO,UV Protection Rectangular Sunglasses (52),₹182
29,Anemone,"UV Protection, Gradient Rectangular, Spectacle...",₹356
30,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699
31,ROYAL SON,Polarized Aviator Sunglasses (56),₹899
32,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹179
33,SUNBEE,UV Protection Rectangular Sunglasses (Free Size),₹185
34,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹559
35,Silver Kartz,UV Protection Oval Sunglasses (56),₹299
36,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599
37,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹629
38,kingsunglasses,UV Protection Retro Square Sunglasses (Free Size),₹269
39,ROZZETTA CRAFT,"Polarized, UV Protection Rectangular Sunglasse...",₹699

In [52]:
#driver=webdriver.Chrome(r"Chromedriver")

In [53]:
#driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2")

In [63]:
brand_tags=driver.find_elements(By.XPATH,'//div [@class="_2WkVRV"]')
for i in brand_tags[41:81]:
    brand=i.text
    Brand.append(brand)
len(Brand)

40

In [64]:
Product_Discription=driver.find_elements(By.XPATH,'//a [@class="IRpwTa"]')
for i in Product_Discription[41:81]:
    productdetail=i.text
    ProductDiscription.append(productdetail)
len(ProductDiscription)

39

In [65]:
price_tags=driver.find_elements(By.XPATH,'//div [@class="_30jeq3"]')
for i in price_tags[41:81]:
    price=i.text
    Price.append(price)
len(Price)

40

In [ ]:
#driver=webdriver.Chrome(r"Chromedriver")

In [57]:
#driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3")

In [68]:
brand_tags=driver.find_elements(By.XPATH,'//div [@class="_2WkVRV"]')
for i in brand_tags[81:101]:
    brand=i.text
    Brand.append(brand)

In [70]:
Product_Discription=driver.find_elements(By.XPATH,'//a [@class="IRpwTa"]')
for i in Product_Discription[81:101]:
    productdetail=i.text
    ProductDiscription.append(productdetail)
len(ProductDiscription)

39

In [73]:
price_tags=driver.find_elements(By.XPATH,'//div [@class="_30jeq3"]')
for i in price_tags[81:101]:
    price=i.text
    Price.append(price)
len(Price)

40

In [74]:
print(len(Brand),len(ProductDiscription),len(Price))

40 39 40

In [ ]:
df=pd.DataFrame({"Brand":Brand,"Production_Discription":ProductionDiscription,"Price":Price})
df

In [70]:
#assignment question 5

In [110]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [111]:
driver.get("https://flipkart.com")

In [115]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys("Sneakers")

In [116]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [117]:
Brand=[]
ProductDiscription=[]
Price=[]

In [118]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@ class="_2WkVRV"]')
    for i in brand_tags[1:41]:
        brand=i.text
        Brand.append(brand)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [119]:
start=0
end=3
for page in range(start,end):    
    productdetail=driver.find_elements(By.XPATH,'//a [@class="IRpwTa"]')
    for i in productdetail[1:41]:
        product=i.text
        ProductDiscription.append(product)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [120]:
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div [@class="_30jeq3"]')
    for i in price_tags[1:41]:
        price=i.text
        Price.append(price)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [121]:
print(ProductDiscription)

["BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...", 'Future-04 casual shoes for men | Latest Stylish Casual ...', 'Throb Sneakers For Men', 'Sneakers For Women', 'Women Casual Shoes Sneakers For Women', 'Men SM-406 Black Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'WATERPROOF-05cFULLWHITE Sneakers For Men', 'Trendy And Stylish New Design Casual Shoe For Men Pack ...', 'Sneakers For Men', 'Men Urban Street Athleisure Shoe Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Sneakers For Women', 'R78 SL Sneakers For Women', 'Stylish Casual Sports Shoe Sneakers For Women', 'ADVANTAGE BASE Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women', 'Puma x 1DER Jack V3 Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'MAPF1 X-Ray Speed Sneakers For Men', 'SM-732 Sneakers For Men', 'SM-671 Sneakers For Men', 'Sneakers For Women', 'C-Skate Vulc Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'OLIVE CASUAL SNEAKER Sneakers For Men', 'Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...', 'RS-X RENDER Sneakers For Men', 'STREET ICON M Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Basket Classic XXI Sneakers For Men', "BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...", 'Future-04 casual shoes for men | Latest Stylish Casual ...', 'Throb Sneakers For Men', 'Sneakers For Women', 'Women Casual Shoes Sneakers For Women', 'Men SM-406 Black Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'WATERPROOF-05cFULLWHITE Sneakers For Men', 'Trendy And Stylish New Design Casual Shoe For Men Pack ...', 'Sneakers For Men', 'Men Urban Street Athleisure Shoe Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Sneakers For Women', 'R78 SL Sneakers For Women', 'Stylish Casual Sports Shoe Sneakers For Women', 'ADVANTAGE BASE Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women', 'Puma x 1DER Jack V3 Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'MAPF1 X-Ray Speed Sneakers For Men', 'SM-732 Sneakers For Men', 'SM-671 Sneakers For Men', 'Sneakers For Women', 'C-Skate Vulc Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'OLIVE CASUAL SNEAKER Sneakers For Men', 'Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...', 'RS-X RENDER Sneakers For Men', 'STREET ICON M Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Basket Classic XXI Sneakers For Men', "BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...", 'Future-04 casual shoes for men | Latest Stylish Casual ...', 'Throb Sneakers For Men', 'Sneakers For Women', 'Women Casual Shoes Sneakers For Women', 'Men SM-406 Black Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'WATERPROOF-05cFULLWHITE Sneakers For Men', 'Trendy And Stylish New Design Casual Shoe For Men Pack ...', 'Sneakers For Men', 'Men Urban Street Athleisure Shoe Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Sneakers For Women', 'R78 SL Sneakers For Women', 'Stylish Casual Sports Shoe Sneakers For Women', 'ADVANTAGE BASE Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women', 'Puma x 1DER Jack V3 Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'MAPF1 X-Ray Speed Sneakers For Men', 'SM-732 Sneakers For Men', 'SM-671 Sneakers For Men', 'Sneakers For Women', 'C-Skate Vulc Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'OLIVE CASUAL SNEAKER Sneakers For Men', 'Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...', 'RS-X RENDER Sneakers For Men', 'STREET ICON M Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Basket Classic XXI Sneakers For Men']

In [97]:
print(len(Brand),len(ProductDiscription),len(Price))

117 108 117

In [107]:
product1=[]
Brand1=[]
Price1=[]
product1=ProductDiscription[1:101]
len(product)
print(product)
Brand1=Brand[1:101]
Price1=Price[1:101]

["BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...", 'Stylish & Trendy Sneakers For Men', 'Women Casual Shoes Sneakers For Women', 'Men SM-406 Black Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'R78 SL Sneakers For Women', 'WATERPROOF-05cFULLWHITE Sneakers For Men', 'Trendy And Stylish New Design Casual Shoe For Men Pack ...', 'Trendy Casual Shoe For Men Pack Of 2 Sneakers For Men', 'Black sneaker Sneakers For Men', 'Men Urban Street Athleisure Shoe Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'C-Skate Vulc Sneakers For Men', 'Sneakers For Women', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'SM-732 Sneakers For Men', 'Puma x 1DER Jack V3 Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women', 'ADVANTAGE BASE Sneakers For Men', 'OLIVE CASUAL SNEAKER Sneakers For Men', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'RS-X RENDER Sneakers For Men', 'Sneakers For Women', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers For Men', 'Sneakers For Men', 'Premium Casual Shoes for Women Sneakers For Women', 'STREET ICON M Sneakers For Men', 'Mesh| Ultralightweight| Premiun| Comfort| Summer Tendy|...', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Sneakers For Men', 'Sneakers For Women', "BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...", 'Stylish & Trendy Sneakers For Men', 'Women Casual Shoes Sneakers For Women', 'Men SM-406 Black Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'R78 SL Sneakers For Women', 'WATERPROOF-05cFULLWHITE Sneakers For Men', 'Trendy And Stylish New Design Casual Shoe For Men Pack ...', 'Trendy Casual Shoe For Men Pack Of 2 Sneakers For Men', 'Black sneaker Sneakers For Men', 'Men Urban Street Athleisure Shoe Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'C-Skate Vulc Sneakers For Men', 'Sneakers For Women', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'SM-732 Sneakers For Men', 'Puma x 1DER Jack V3 Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women', 'ADVANTAGE BASE Sneakers For Men', 'OLIVE CASUAL SNEAKER Sneakers For Men', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'RS-X RENDER Sneakers For Men', 'Sneakers For Women', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers For Men', 'Sneakers For Men', 'Premium Casual Shoes for Women Sneakers For Women', 'STREET ICON M Sneakers For Men', 'Mesh| Ultralightweight| Premiun| Comfort| Summer Tendy|...', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Sneakers For Men', 'Sneakers For Women', "BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...", 'Stylish & Trendy Sneakers For Men', 'Women Casual Shoes Sneakers For Women', 'Men SM-406 Black Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'R78 SL Sneakers For Women', 'WATERPROOF-05cFULLWHITE Sneakers For Men', 'Trendy And Stylish New Design Casual Shoe For Men Pack ...', 'Trendy Casual Shoe For Men Pack Of 2 Sneakers For Men', 'Black sneaker Sneakers For Men', 'Men Urban Street Athleisure Shoe Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'C-Skate Vulc Sneakers For Men', 'Sneakers For Women', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'SM-732 Sneakers For Men', 'Puma x 1DER Jack V3 Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women', 'ADVANTAGE BASE Sneakers For Men', 'OLIVE CASUAL SNEAKER Sneakers For Men', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'SM-671 Sneakers For Men', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'RS-X RENDER Sneakers For Men', 'Sneakers For Women', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Combo Pack of 2 Casual Shoe Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers For Men']

In [122]:
df=pd.DataFrame({'Brand':Brand1,'ProductDiscription':product1,'Price':Price1})
df.iloc[1:100]

,Brand,ProductDiscription,Price
1,SFR,Stylish & Trendy Sneakers For Men,"₹2,879"
2,aadi,Women Casual Shoes Sneakers For Women,₹855
3,SFR,Men SM-406 Black Sneakers For Men,"₹2,694"
4,BIRDE,Combo Pack of 2 Casual Shoe Sneakers For Men,"₹2,596"
5,aadi,R78 SL Sneakers For Women,₹473
...,...,...,...
95,BIRDE,RS-X RENDER Sneakers For Men,"₹3,499"
96,Shozie,Sneakers For Women,₹539
97,aadi,WATERPROOF-05cFULLBLACK Sneakers For Men,"₹2,474"
98,HRX by Hrithik Roshan,Combo Pack of 2 Casual Shoe Sneakers For Men,₹599
99,asian,Modern Trendy Sneakers boot Sneakers For Men,"₹7,999"

In [41]:
# Assignment Question 7

In [85]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [86]:
driver.get("https://www.amazon.in/")

In [4]:
search_amazon=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_amazon.send_keys("Laptop")

In [5]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")
search.click()

In [6]:
CPUType_IntelCorei7=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[11]/span/a/span")
CPUType_IntelCorei7.click()

In [7]:
Title=[]
Rating=[]

Price=[]

In [8]:
#title_tags=driver.find_elements(By.XPATH,'//h2[@class=" a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tags=driver.find_elements(By.XPATH,'//span [@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[1:11]:
    title=i.text
    Title.append(title)                            
len(Title)

10

In [9]:
#rating_tags=driver.find_elements(By.XPATH,'//i [@class="a-icon a-icon-star-small a-star-small-3 aok-align-bottom"]')
rating_tags=driver.find_elements(By.XPATH,'//span [@class="a-size-base"]')
for i in rating_tags[1:11]:
    Rating.append(i.text)
len(Rating)

10

In [10]:
price_tags=driver.find_elements(By.XPATH,'//span[@ class="a-price-whole"]')
for i in price_tags[1:11]:
    Price.append(i.text)

In [11]:
print(len(Title),len(Rating),len(Price))

10 10 10

In [60]:
df=pd.DataFrame({'Title':Title,'Rating':Rating,'Price':Price})
df

                                               Title Rating   Price
0  HP Chromebook 11a, MediaTek MT8183 Processor 1...    4.0  82,990
1  (Renewed) Dell Latitude E5470 Intel Core i5 6t...    4.1  56,990
2  HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6i...    4.0  45,592
3  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...    4.1  30,074
4  HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...    3.4  65,250
5  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...    4.3  24,889
6  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...    4.0  85,990
7  HP 15s, AMD Athlon Silver 3050U 8GB RAM/512GB ...    3.6  77,990
8  (Renewed) Dell Latitude Laptop E7470 Intel Cor...    4.2  84,918
9  AVITA SATUS S111 NU14A1INC43PN-SG 14.1 FHD (35...    4.0  82,990

In [2]:
#Assignment Question 8

In [81]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [83]:
driver.get("https://www.azquotes.com/top_quotes.html")

In [84]:
quote=[]
author=[]
Type_of_quote=[]

In [85]:
start=1
end=11
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a [@class="title"]')
    for i in quotes:
        quote.append(i.text)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
next_button.click()
time.sleep(3)
len(quote)

1000

In [86]:
start=1
end=11
for page in range(start,end):
    authors=driver.find_elements(By.XPATH,'//div [@class="author"]')
    for i in authors:
        author.append(i.text)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
next_button.click()
time.sleep(3)
len(author)

1000

In [88]:
start=1
end=11
for page in range(start,end):
    type_of_quote=driver.find_elements(By.XPATH,'//div [@class="tags"]')
    for i in type_of_quote:
        Type_of_quote.append(i.text)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
next_button.click()
time.sleep(3)
len(Type_of_quote)

1000

In [89]:
print(len(quote),len(author),len(Type_of_quote))

1000 1000 1000

In [90]:
df=pd.DataFrame({'Quote':quote,'Author':author,'Type_Of_Quote':Type_of_quote})
df

,Quote,Author,Type_Of_Quote
0,The essence of strategy is choosing what not t...,Neltje Blanchan,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Henry Ford,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Saint Augustine,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Arthur Rubinstein,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,George Mason,"Inspirational, Motivational, Teacher"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Alexander Graham Bell,"Love, Inspirational, Motivational"
996,When a train goes through a tunnel and it gets...,Henry Ford,"Gun, Two, Qualms About"
997,If you think you are too small to make a diffe...,Robin Williams,"Inspirational, Greatness, Best Effort"
998,"God doesn't require us to succeed, he only req...",Margaret Walker,"Spiritual, Truth, Yoga"
999,Change your thoughts and you change your world.,T. Harv Eker,"Inspirational, Leadership, Education"

In [3]:
#Assignment question 9

In [40]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [41]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

In [66]:
Name=[]
Born_Dead=[]
Term_of_office=[]
Remark=[]

In [67]:
name=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p' )
for i in name:
    Name.append(i.text)
len(Name)

18

In [68]:
print(Name)

['Jawahar Lal Nehru', 'Gulzarilal Nanda (Acting)', 'Lal Bahadur Shastri', 'Gulzari Lal Nanda  (Acting)', 'Indira Gandhi', 'Morarji Desai', 'Charan Singh', 'Indira Gandhi', 'Rajiv Gandhi', 'V. P. Singh', 'Chandra Shekhar', 'P. V. Narasimha Rao', 'Atal Bihari Vajpayee', 'H. D. Deve Gowda', 'Inder Kumar Gujral', 'Atal Bihari Vajpayee', 'Manmohan Singh', 'Narendra Modi']

In [69]:
born=driver.find_elements(By.XPATH,'//div [@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born:
    Born_Dead.append(i.text)
print(Born_Dead)

['(1889–1964)', '(1898-1998)', '(1904–1966)', '(1898-1998)', '(1917–1984)', '(1896–1995)', '(1902–1987)', '(1917–1984)', '(1944–1991)', '(1931–2008)', '(1927–2007)', '(1921–2004)', '(1924- 2018)', '(born 1933)', '(1919–2012)', '(1924-2018)', '(born 1932)', '(born 1950)']

In [82]:
Term_of_office=[]
office=[]
term=driver.find_elements(By.XPATH,'//div [@class="table-box"]/table/tbody/tr/td[4]/p')
for i in term:
    Term_of_office.append(i.text.split(',')[0])
for i in range(0,len(Term_of_office),2):
    office=Term_of_office[i]
    print(office)
print(len(office))

15 August 1947 to 27 May 1964
27 May 1964 to 9 June 1964
9 June 1964 to 11 January 1966
11 January 1966 to 24 January 1966
24 January 1966 to 24 March 1977
24 March 1977 to  28 July 1979
28 July 1979 to 14 January 1980
14 January 1980 to 31 October 1984
31 October 1984 to 2 December 1989
2 December 1989 to 10 November 1990
10 November 1990 to 21 June 1991
21 June 1991 to 16 May 1996
16 May 1996 to 1 June 1996
1 June 1996 to 21 April 1997
21 April 1997 to 19 March 1998
19 March 1998 to 22 May 2004
22 May 2004 to 26 May 2014
26 May 2014 - Present
21

In [71]:
remark=driver.find_elements(By.XPATH,'//div [@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remark:
    Remark.append(i.text)

In [81]:
print(len(Name),len(Born_Dead),len(office),len(Remark))

18 18 21 18

In [77]:
df=pd.DataFrame({'Name':Name,'Born_Dead':Born_Dead,'Term_of_office':office,'Remark':Remark})
df

,Name,Born_Dead,Term_of_office,Remark
0,Jawahar Lal Nehru,(1889–1964),26 May 2014 - Present,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),26 May 2014 - Present,First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),26 May 2014 - Present,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),26 May 2014 - Present,-
4,Indira Gandhi,(1917–1984),26 May 2014 - Present,First female Prime Minister of India
5,Morarji Desai,(1896–1995),26 May 2014 - Present,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),26 May 2014 - Present,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),26 May 2014 - Present,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),26 May 2014 - Present,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),26 May 2014 - Present,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),26 May 2014 - Present,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),26 May 2014 - Present,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),26 May 2014 - Present,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),26 May 2014 - Present,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),26 May 2014 - Present,------
15,Atal Bihari Vajpayee,(1924-2018),26 May 2014 - Present,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),26 May 2014 - Present,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [78]:
#Assignment question 10

In [5]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [6]:
driver.get("https://www.motor1.com/features/308149/most-expensive-new-cars-ever/")

In [7]:
Name=[]
Price=[]

In [8]:
name=driver.find_elements(By.XPATH, '//h3 [@class="subheader"]')
for i in name:
    Name.append(i.text)
len(Name)

51

In [9]:
price=driver.find_elements(By.XPATH,"//strong")
for i in price:
    Price.append(i.text)
print(Price)

['Price: $1.3 Million', 'Price: $1.4 Million', 'Price: $1.4 Million', '', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million*', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.5 Million', 'Price: $3.6 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $10.8 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)']

In [10]:
len(Price)

51

In [11]:
print(len(Name),len(Price))

51 51

In [13]:
df=pd.DataFrame({'Name':Name,'Price':Price})
df

                                Name                        Price
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)