In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
#assignment 4 qustion 3

In [25]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [22]:
driver.get("https://www.statisticstimes.com/")

In [23]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [24]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
#india=driver.find_element(By.CLASS,)
india.click()
time.sleep(3)

In [25]:
GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [26]:
Rank=[]
rank=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank:
    try:
        Rank.append(i.text)
    except:
        Rank.append("-")
len(Rank)

68

In [27]:
RANK=Rank[0:33]
len(RANK)

33

In [29]:
State=[]
state=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state:
    State.append(i.text)

In [30]:
STATE=State[0:33]

In [31]:
GSDP=[]
GSDP18=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in GSDP18:
    try:
        GSDP.append(i.text)
    except:
        GSDP.append("-")

In [50]:
len(GSDP)
Gsdp=GSDP[0:33]

In [32]:
GSDP20=[]
GSDP19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in GSDP19:        
    try:
        GSDP20.append(i.text)
    except:
        GSDP20.append("-")

gsdp20=GSDP20[0:33]
len(gsdp20)

33

In [34]:
Share=[]
share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    try:
        Share.append(i.text)
    except:
        Share.append("-")
SHARE=Share[0:33]

In [35]:
len(SHARE)

33

In [38]:
GDP=[]
gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp:
    try:
        GDP.append(i.text)
    except:
        GDP.append("-")
Gdp=GDP[0:33]
len(Gdp)

33

In [39]:
GSDP2011=[]
gsdp2011=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[7]')
for i in gsdp2011:
    try:
        GSDP2011.append(i.text)
    except:
        GSDP2011.append("-")
Gsdp2011=GSDP2011[0:33]
len(Gsdp2011)

33

In [43]:
GSDP2012=[]
gsdp2012=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[8"]')
for i in gsdp2012:
    try:
        GSDP2012.append(i.text)
    except:
        GSDP.append("-")"
Gsdp2012=GSDP2012[0:33]
len(Gsdp2012)

33

In [54]:
df=pd.DataFrame({"RANK":RANK,"STATE":STATE,"GSDP(19-20)_crINRatcurrentprice":gsdp20,"GSDP(18-19)_crINRatcurrentprice":Gsdp,"Share(18-19)":SHARE,"GDP($billions)":Gdp,"GSDP(19-20)_crINRat2011-12prices":Gsdp2011,"GSDP(18-19)_crINRat2011-12prices":Gsdp2012})
df

,RANK,STATE,GSDP(19-20)_crINRatcurrentprice,GSDP(18-19)_crINRatcurrentprice,Share(18-19),GDP($billions),GSDP(19-20)_crINRat2011-12prices,GSDP(18-19)_crINRat2011-12prices
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

In [ ]:
#Assignment 4 qustion 4

In [2]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [3]:
driver.get("https://github.com/")

In [5]:
BUTTON=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
BUTTON.click()

In [6]:
opensource=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
opensource.click()

In [7]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [9]:
Repository=[]
#repository=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
repository=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in repository:
    try:
        Repository.append(i.text)
    except:
        Repository.append("-")
len(Repository)

24

In [10]:
description=[]
Description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
#Description=driver.find_elements(By.XPATH,'//')
for i in Description:
    try:
        description.append(i.text)
    except:
        description.append("-")
len(description)

23

In [11]:
contributor=[]
cont=[]
Contributor=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in Contributor:
    try:
        contributor.append(i.text)
    except:
        contributor.append("-")
for i in range(0,len(contributor),2):
    cont.append(contributor[i])
len(cont)

24

In [12]:
language=[]
#Language=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
Language=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in Language:
    try:
        language.append(i.text)
    except:
        language.append("-")
len(language)

23

In [14]:
df=pd.DataFrame({"Repository":Repository[0:23],"description":description[0:23],"Contributor":contributor[0:23],"Language":language[0:23]})
df

,Repository,description,Contributor,Language
0,tatsu-lab /,Code and documentation to train Stanford's Alp...,"7,103",Python
1,ggerganov /,Port of Facebook's LLaMA model in C/C++,611,C
2,togethercomputer /,Use ChatGPT to summarize the arXiv papers.,"7,980",Python
3,kaixindelele /,SQL Translator is a tool for converting natura...,591,Python
4,whoiskatrin /,An open-source ChatGPT app with a voice,"4,856",TypeScript
5,cogentapps /,"A high-performance, zero-overhead, extensible ...",504,TypeScript
6,exaloop /,A powerful and modular stable diffusion GUI wi...,"2,038",C++
7,comfyanonymous /,Everything required to run your own Base node,162,Python
8,base-org /,🕸 Web apps in pure Python 🐍,"1,336",Shell
9,pynecone-io /,Create your own ChatGPT App in seconds.,96,Python
10,futantan /,Examples and guides for using the OpenAI API,616,TypeScript
11,openai /,A simple and open-source proxy API that allows...,70,Jupyter Notebook
12,ayaka14732 /,[CVPR'23] Universal Instance Perception as Obj...,"7,896",JavaScript
13,MasterBin-IIAU /,The simplest way to run LLaMA on your local ma...,271,Python
14,cocktailpeanut /,"Code and models for the paper ""One Transformer...","1,389",JavaScript
15,thu-ml /,这儿收集了一些免费好用的ChatGPT镜像站 当前：60个站点,104,Python
16,xx025 /,Display and control your Android device,"16,552",C
17,Genymobile /,🆙 Upscayl - Free and Open Source AI Image Upsc...,448,TypeScript
18,upscayl /,拼多多事件的脱壳后的部分代码,"7,103",C
19,poorjobless /,A CLI tool to get help with CLI tools 🐙,228,Rust
20,orhun /,Reverse engineered API of Microsoft's Bing Chat,"2,213",Python
21,acheong08 /,High-performance GPGPU inference of OpenAI's W...,154,C++
22,Const-me /,Inference code for LLaMA models,"18,566",Python

In [ ]:
#Assignment 4 qustion no.5

In [95]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [96]:
driver.get("https://www.billboard.com/")

In [61]:
button=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
button.click()

In [98]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
charts.click()

In [100]:
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span')
hot100.click()

In [130]:
songname=[]
#Songname=driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story" ]')
Songname=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')

for i in Songname:
    songname.append(i.text)
Songname=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in Songname:
    try:
        songname.append(i.text)
    except:
        songname.append("-")

Song_name=songname[0:100]
len(Song_name)

100

In [103]:
Artist=[]
artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in artist:
    Artist.append(i.text)
artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for j in artist:
    try:
        Artist.append(j.text)
    except:
        Artist.append("-")
Artist_name=Artist[0:100]
len(Artist_name)

100

In [108]:
lastweek_rank=[]
Lastweek_rank=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for i in Lastweek_rank:
    lastweek_rank.append(i.text)
#Lastweek_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
Lastweek_rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-xxl lrv-u-padding-lr-1 lrv-u-padding-t-025"]')

for j in Lastweek_rank:
    try:
        lastweek_rank.append(j.text.split(",")[0])                      
    except:
        lastweek_rank.append("-")
lastweek=lastweek_rank[0:100]
len(lastweek)

100

In [111]:
peak_pos=[]
Peak_pos=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for i in Peak_pos:
    try:
        peak_pos.append(i.text)
    except:
        peak_pos.append(i.text)
peakpos=peak_pos[0:100]

In [121]:
weekonboard=[]
Weekonboard=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
for i in Weekonboard:
    try:
        weekonboard.append(i.text)
    except:
        weekonboard.append("-")
weekon_board=weekonboard[0:100]

In [131]:
df=pd.DataFrame({"song_name":Song_name,"Artist_name":Artist_name,"Lastweek_rank":lastweek,"Peak_rank":peakpos,"week_on_board":weekon_board})
df

,song_name,Artist_name,Lastweek_rank,Peak_rank,week_on_board
0,Die For You,The Weeknd & Ariana Grande,6,1,31
1,Flowers,Miley Cyrus,1,1,7
2,Kill Bill,SZA,2,2,12
3,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,3,3,4
4,Last Night,Morgan Wallen,5,3,5
...,...,...,...,...,...
95,Besties,Karol G,-,96,1
96,Yandel 150,Yandel & Feid,90,90,4
97,Manana Sera Bonito,Karol G & Carla Morrison,-,98,1
98,The Color Violet,Tory Lanez,84,63,9
99,Die 4 Me,Halsey,-,100,1

In [24]:
#Assignment 4 qustion 6

In [3]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [5]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [7]:
bookname=[]
Bookname=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Bookname:
    try:
        bookname.append(i.text)
    except:
        bookname.append("-")
len(bookname)

100

In [20]:
authorname=[]
Authorname=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in Authorname:
    try:
        authorname.append(i.text)
    except:
        authorname.append("-")
len(authorname)

100

In [11]:
volumesold=[]
Volumesold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in Volumesold:
    try:
        volumesold.append(i.text)
    except:
        volumesold.append("-")
len(volumesold)

100

In [14]:
publishers=[]
Publishers=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in Publishers:
    try:
        publishers.append(i.text)
    except:
        publishers.append("-")
len(publishers)

100

In [15]:
genre=[]

Genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in Genre:
    try:
        genre.append(i.text)
    except:
        genre.append("-")
len(genre)

100

In [21]:
print(len(bookname),len(authorname),len(volumesold),len(publishers),len(genre))

100 100 100 100 100

In [22]:
df=pd.DataFrame({"Bookname":bookname,"Authorname":authorname,"Volume_sold":volumesold,"Publisher":publishers,"Genre":genre})
df

,Bookname,Authorname,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [27]:
# Assignment 4 qustion 7

In [28]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [29]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [70]:
titlename=[]
title=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in title:
    try:
        titlename.append(i.text.split("(")[0].split(".")[1])
    except:
        titlename.append("-")
len(titlename)

100

In [42]:
yearspan=[]
year=driver.find_elements(By.XPATH,'//span[ @class="lister-item-year text-muted unbold"]')
for i in year:
    try:
        yearspan.append(i.text)
    except:
        yearspan.append("-")
len(yearspan)

100

In [47]:
runtime=[]
#run_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]')
run_time=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_time:
    try:
        runtime.append(i.text)
    except:
        runtime.append("-")
len(runtime)

100

In [55]:
rating=[]
Rating=driver.find_elements(By.XPATH,'//div [@ class="ipl-rating-star small"]')
for i in Rating:
    try:
        rating.append(i.text.split(",")[0])
    except:
        rating.append("-")
len(rating)

100

In [57]:
genre=[]
Genre=driver.find_elements(By.XPATH,'//span[@class="certificate"]')
for i in Genre:
    try:
        genre.append(i.text)
    except:
        genre.append("-")
len(genre)

100

In [66]:
vote=[]
#Vote=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]')
Vote=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in Vote:
    try:
        vote.append(i.text)
    except:
        vote.append("-")
len(vote)

100

In [71]:
df=pd.DataFrame({"Title":titlename,"Yearspan":yearspan,"Genre":genre,"RUN_Time":runtime,"Rating":rating,"Votes":vote})
df

,Title,Yearspan,Genre,RUN_Time,Rating,Votes
0,Game of Thrones,(2011–2019),TV-MA,57 min,9.2,"2,136,991"
1,Stranger Things,(2016–2024),TV-14,51 min,8.7,"1,222,124"
2,The Walking Dead,(2010–2022),TV-MA,44 min,8.1,"1,014,411"
3,13 Reasons Why,(2017–2020),TV-MA,60 min,7.5,"298,842"
4,The 100,(2014–2020),TV-14,43 min,7.6,"257,716"
...,...,...,...,...,...,...
95,Reign,(2013–2017),TV-14,42 min,7.4,"50,995"
96,A Series of Unfortunate Events,(2017–2019),TV-PG,50 min,7.8,"62,995"
97,Criminal Minds,(2005– ),TV-14,42 min,8.1,"204,774"
98,Scream: The TV Series,(2015–2019),TV-14,45 min,7.1,"42,392"
99,The Haunting of Hill House,(2018),TV-MA,572 min,8.6,"253,359"

In [1]:
#Assignment qustion 8

In [4]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [7]:
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [6]:
view=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
view.click()

In [25]:
dataset=[]
#Dataset=driver.find_elements(By.XPATH,'//p[@class="normal"]')
Dataset=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[1]')
for i in Dataset[1:]:
    try:
        dataset.append(i.text)
    except:
        dataset.append("-")
len(dataset)

622

In [28]:
datatype=[]
Datatype=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]')
for i in Datatype[1:]:
    try:
        datatype.append(i.text)
    except:
        datatype.append("-")
len(datatype)

622

In [29]:
default_task=[]
defaulttask=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]')
for i in defaulttask[1:]:
    try:
        default_task.append(i.text)
    except:
        default_task.append("-")
len(default_task)

622

In [32]:
attribute_type=[]
attribute=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]')
for i in attribute[1:]:
    try:
        attribute_type.append(i.text)
    except:
        attribute_type.append("-")
len(attribute_type)

622

In [33]:
instance=[]
Instance=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]')
for i in Instance[1:]:
    try:
        instance.append(i.text)
    except:
        instance.append("-")
len(instance)

622

In [35]:
attributes=[]
Attributes=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]')
for i in Attributes[1:]:
    try:
        attributes.append(i.text)
    except:
        attributes.append("-")
len(attributes)

622

In [36]:
df=pd.DataFrame({"Dataset_Name":dataset,"Data_type":datatype,"defult_task":default_task,"attribute_type":attribute_type,"Instance":instance,"Attributes":attributes})
df

,Dataset_Name,Data_type,defult_task,attribute_type,Instance,Attributes
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279
...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50
619,Maternal Health Risk Data Set,,Classification,,1014,7
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2

In [3]:
#Assignment qustion 9

In [30]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [31]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [32]:
recruiter=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[2]/div/div/div/ul/li[1]/a')
recruiter.click()

In [33]:
designation=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
designation.send_keys('Datascience')

In [34]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

In [35]:
name=[]
Name=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in Name:
    try:
        name.append(i.text)
    except:
        name.append("-")
len(name)

39

In [36]:
designation=[]
Designation=driver.find_elements(By.XPATH,'//span[@ class="ellipsis clr"] ')
for i in Designation:
    try:
        designation.append(i.text)
    except:
        designation.append("-")
len(designation)

39

In [50]:
company=[]
comp=[]
Company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in Company:
    try:
        company.append(i.text)
    except:
        company.append("-")
for i in range(1,len(company),2):
    comp.append(company[i]) 
len(comp)

39

In [39]:
location=[]
Location=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in Location:
    try:
        location.append(i.text)
    except:
        location.append("-")
len(location)

39

In [40]:
skill=[]
Skill=driver.find_elements(By.XPATH,'//div [@class="hireSec highlightable"]')
for i in Skill:
    try:
        skill.append(i.text)
    except:
        skill.append("-")
len(skill)

39

In [52]:
df=pd.DataFrame({"Name":name,"Designation":designation,"Company":comp,"Skill":skill,"Location":location})
df

,Name,Designation,Company,Skill,Location
0,Rose Mary,Talent Acquisition Specialist,Flex i Partners,"Senior Management, Information Technology, Fac...",Bengaluru / Bangalore
1,Jatin Nagpal,Company Recruiter,Cvent India Pvt. Ltd.,Not Specified,Gurgaon
2,Besant Technologies,Assistant Manager,Besant Technologies,"Training, Education",Chennai
3,Shanthi,Company Recruiter,Iris Technologies,Not Specified,Chennai
4,Dilip,HR Executive,Greens Technologys Velachery,"Human Resource Management, Software Development",Chennai
5,Sakshi Singh,Company Recruiter,Holcim Services (South Aisa) Limited,Not Specified,Mumbai
6,JTS,HR,Jignasa Techno Solutions Pvt Ltd,Not Specified,Hyderabad / Secunderabad
7,TA,Company Recruiter,Manipal Global Education Services Private...,Not Specified,Bengaluru / Bangalore
8,Niharika,HR,SaltSide,Not Specified,Bengaluru / Bangalore
9,Chandra,Company Recruiter,A2Z CONTACTS PRIVATE LIMITED,Not Specified,Hyderabad / Secunderabad
10,Gargi Dave,Company Recruiter,HighRadius Technologies Pvt Ltd,Not Specified,Hyderabad / Secunderabad
11,HR,Talent Acquisition Manager,Afitech,"Corporate Training, Training, Training Coordin...",Bengaluru / Bangalore
12,Joyce Roslin,HR IT Recruiter,Aegan Technologies Pvt Ltd,"Fetchr India, Intellectyx DataScience Pvt Ltd",Coimbatore
13,Sandeep Selvan,Sr Consultant,Wenger &amp; Watson,CONFIDENCIAL,Bengaluru / Bangalore
14,Binary Fox,Company Recruiter,BINARY FOX SERVICES LLP,"Frontend, Backend, Fullstack, Tester, Erp, Dwh...",Uttar Pradesh - Other
15,Rajashekar,Talent Acquisition Executive,CBSI India Pvt. Ltd.,Not Specified,Bengaluru / Bangalore
16,Madhu Mohan Rao Neelam,Company Recruiter,CoArtha Technosolutions Private Limited,Not Specified,Hyderabad / Secunderabad
17,Anujhgna,HR Manager,Zopak Software Private Limited,"html5, css, javascript, Qa Testing, Scala, Ang...",Hyderabad / Secunderabad
18,PoojaHR,HR Recruiter,Magneq Software,Not Specified,Hyderabad / Secunderabad
19,BlockSec Privacy,Vice President HR,BlockSec Privacy,Not Specified,Pune
20,Pooja HR,HR Recruiter,Magneq Software,Not Specified,Hyderabad / Secunderabad
21,Namratha,Senior Human Resources Executive,Global Sena Consultancy Pvt. Ltd.,Not Specified,Hyderabad / Secunderabad
22,Sai Theja,Operations Lead,Sumyag Data Sciences Private Limited,"Data Science, Engineering, Data Analysis, Big ...",Bengaluru / Bangalore
23,Techsel Solutions,Human Resource Management,Techsel Solutions,Not Specified,Hyderabad / Secunderabad
24,Sri Divya,Company Recruiter,SP GOBAL SOLUTIONS,Not Specified,Hyderabad / Secunderabad
25,gamya,Company Recruiter,SP GOBAL SOLUTIONS,Not Specified,Hyderabad / Secunderabad
26,Maran,Director,DISTINCT SYSTEMS &amp; TECHNOLOGIES PRIVATE...,Not Specified,Chennai
27,Sandeep Seth,Co Director,Data Science Technologies Pvt Ltd,Not Specified,Pune
28,CADD Centre Thane I Dombivali I Airoli,Company Recruiter,Sansach Technologies,Not Specified,Mumbai
29,Vijayalakshmi,Senior Recruiter,Avyayh,Not Specified,Chennai
30,Richa Awasthi,TA &amp; Operation Manager,Uberlife Consulting Private Limited,Not Specified,Bengaluru / Bangalore
31,Samuel,Senior Executive TAG,Innominds,Not Specified,Hyderabad / Secunderabad
32,Naveen V,Recruitment Consultant,JoulestoWatts Business Solutions Pvt Ltd,Not Specified,Bengaluru / Bangalore
33,P N Venugopal,Recruitment Consultant,P N Venugopal Associates,Not Specified,Bengaluru / Bangalore
34,Mohideen,Recruitment Consultant,Inceptez Technologies,Not Specified,Chennai
35,Magesh Kumar Quess Corp,Senior Consultant IT Recruitment,Quess Corp Ltd.,"Guidewire, Ui Development, Pega Prpc, Pega Rul...",Chennai
36,Suchitra,Talent Specialist,Collabera Technologies Private Limited,Software,Hyderabad / Secunderabad
37,Jyoti Moily,Managing partner,Unitres Business Solutions,Not Specified,THANE
38,Rishika Seth,Chief Financial Officer,Datascience Technologies Pvt. Ltd.,Not Specified,Pune

In [2]:
#Assignment qustion 1

In [ ]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [7]:
rank=[]
Rank=driver.find_elements(By.XPATH,'//table[@ class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in Rank[0:30]:
    try:
        rank.append(i.text)
    except:
        rank.append("-")
len(rank)

30

In [10]:
name=[]
Name=driver.find_elements(By.XPATH,'//table[@ class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in Name[0:30]:
    try:
        name.append(i.text)
    except:
        name.append("-")
len(name)

30

In [11]:
artist=[]
Artist=driver.find_elements(By.XPATH,'//table[@ class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in Artist[0:30]:
    try:
        artist.append(i.text)
    except:
        artist.append("-")
len(artist)

30

In [15]:
upload_date=[]
upload=driver.find_elements(By.XPATH,'//table[@ class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in upload[0:30]:
    try:
        upload_date.append(i.text)
    except:
        upload_date.append("-")
len(upload_date)

30

In [16]:
views=[]
Views=driver.find_elements(By.XPATH,'//table[@ class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in Views[0:30]:
    try:
        views.append(i.text)
    except:
        views.append("-")
len(views)

30

In [17]:
df=pd.DataFrame({"Rank":rank,"Name":name,"Artist":artist,"Upload_date":upload_date,"Views(billions)":views})
df

,Rank,Name,Artist,Upload_date,Views(billions)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

In [18]:
#assignment qustion 2

In [3]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [4]:
driver.get("https://www.bcci.tv/")

In [13]:
#fixture=driver.find_element(By.CLASS_NAME,"nav-item")
fixture=driver.find_element(By.XPATH,'/html/body/div[5]/div/div[1]/div/ul/li[1]/a')
fixture.click()

In [14]:
view=driver.find_element(By.XPATH,'/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a')
view.click()

In [15]:
match_title=[]
match=driver.find_elements(By.XPATH,'//span [@class="matchOrderText ng-binding ng-scope"]')
for i in match:
    try:
        match_title.append(i.text)
    except:
        match_title.append("-")
len(match_title)

3

In [30]:
series_name=[]
series=driver.find_elements(By.XPATH,'//h5 [@class="match-tournament-name ng-binding"]')
for i in series:
    try:
        series_name.append(i.text)
    except:
        series_name.append("-")
len(series_name)

3

In [19]:
place=[]
Place=driver.find_elements(By.XPATH,'//span [@class="ng-binding ng-scope"]')
for i in Place:
    try:
        place.append(i.text)
    except:
        place.append("-")
len(place)

3

In [22]:
date=[]
Date=driver.find_elements(By.XPATH,'//div[@ class="match-dates ng-binding"]')
for i in Date:
    try:
        date.append(i.text)
    except:
        date.append("-")
len(date)

3

In [23]:
time=[]
Time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in Time:
    try:
        time.append(i.text)
    except:
        time.append("-")
len(time)

3

In [31]:
df=pd.DataFrame({"Match_title":match_title,"Series":series_name,"Place":place,"Date":date,"Time":time})
df

,Match_title,Series,Place,Date,Time
0,1st ODI -,AUSTRALIA TOUR OF INDIA 2023,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
2,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST